<header class="bg-dark text-light d-flex justify-content-center px-0">
    <div id="weather" class="mx-2 d-flex no-wrap">
        <i class="fas fa-clouds mx-2"></i>
        <p id="temperature" class="mx-2">15*C</p>
        <p id="location">HCM city</p>
    </div>
    <div id="date" class="mx-2">
        <p id="currentDate">Monday, April 22</p>
    </div>
    <div class="mx-4">
        <a class="mx-2" href="/loginForm/">Signin/Join</a>
        <a class="mx-2" href="#">Blog</a>
        <a class="mx-2" href="#">Forums</a>
        <a class="mx-2" href="#">Contact</a>
    </div>
    <div id="share">
        <i class="fab fa-facebook-f mx-2"></i>
        <i class="fab fa-twitter mx-2"></i>
        <i class="fab fa-youtube mx-2"></i>
    </div>
</header>
<div id="menu" class="bg-light text-dark">
    <ul id="newspaper-menu">
        <li class="dropdown">
            <button class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">ABC</button>
        </li>
        <li class="dropdown">
            <button class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">XYZ</button>
        </li>
        <li class="dropdown">
            <button class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">EDF</button>
        </li>
    </ul>
</div>