<div class="sticky-top" style="top: 80px; z-index: 100">
    <div class="connected-info">
        <h6 class="underline-seperate">
            <span class="px-1">STAY CONNECTED</span>
        </h6>
        <div class="social-facebook my-3">
            <a href="https://facebook.com/" class="row">
                <div class="col-2"><i class="fab fa-facebook-f"></i></div>
                <div class="col-6"><span>9999 Fans</span></div>
                <div class="col-4 text-right"><span><strong>LIKE</strong></span></div>
            </a>
        </div>
        <div class="social-twitter my-3">
            <a href="https://twitter.com/" class="row">
                <div class="col-2"><i class="fab fa-twitter"></i></div>
                <div class="col-6"><span>9999 Followers</span></div>
                <div class="col-4 text-right"><span><strong>FOLLOW</strong></span></div>
            </a>
        </div>
        <div class="social-youtube my-3">
            <a href="https://www.youtube.com/" class="row">
                <div class="col-2"><i class="fab fa-youtube"></i></div>
                <div class="col-6"><span>9999 Subscribers</span></div>
                <div class="col-4 text-right"><span><strong>SUBSCRIBE</strong></span></div>
            </a>
        </div>
    </div>
    <div class="related-news">
        <h6 class="underline-seperate">
            <span class="px-1">RELATED NEWS</span>
        </h6>
        <div class="row">
            <div class="col">
                <a href="{{ '/posts' | relative_url }}" class="news-small">
                    <img src="{{ '/Demo-Pictures/iphone.jpg' | relative_url }}" alt="Error loading image">
                    <div class="title">
                        <small>Apple Patents a New 'Fusion' Keyboard</small>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="{{ '/posts' | relative_url }}" class="news-small">
                    <img src="{{ '/Demo-Pictures/iphone.jpg' | relative_url }}" alt="Error loading image">
                    <div class="title">
                        <small>Apple Patents a New 'Fusion' Keyboard</small>
                    </div>
                </a>
            </div>
            <div class="w-100"></div>
            <div class="col">
                <a href="{{ '/posts' | relative_url }}" class="news-small">
                    <img src="{{ '/Demo-Pictures/iphone.jpg' | relative_url }}" alt="Error loading image">
                    <div class="title">
                        <small>Apple Patents a New 'Fusion' Keyboard</small>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="{{ '/posts' | relative_url }}" class="news-small">
                    <img src="{{ '/Demo-Pictures/iphone.jpg' | relative_url }}" alt="Error loading image">
                    <div class="title">
                        <small>Apple Patents a New 'Fusion' Keyboard</small>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>