<div class="view-type fixed-bottom">
    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="?type=reader" type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Normal user">
            <i class="fas fa-users text-light"></i>
        </a>
        <a href="?type=premium" type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Premium user">
            <i class="fas fa-star text-light"></i>
        </a>
        <a onclick="writterMode()" href="#" type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Writter user">
            <i class="fas fa-pen text-light"></i>
        </a>
        <a href="?type=editor" type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Editor user">
            <i class="fas fa-edit text-light"></i>
        </a>
        <a href="?type=admin" type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Admin">
            <i class="fas fa-users-cog text-light"></i>
        </a>
    </div>
</div>